---
import Layout from '../layouts/layout.astro'
import HierarchicalDashboard from '../components/nanopore/hierarchical-dashboard'
---

<Layout title="Dashboard - Nanopore Tracking">
  <main>
    <HierarchicalDashboard client:load />
  </main>
</Layout> 