---
import Layout from '../layouts/layout.astro'
import MinimalDashboard from '../components/nanopore/minimal-dashboard'
import AuthWrapper from '../components/auth/auth-wrapper'
---

<Layout title="Nanopore Tracking">
  <main>
    <AuthWrapper client:load>
      <MinimalDashboard client:load />
    </AuthWrapper>
  </main>
</Layout>
