---
import Layout from '../layouts/layout.astro'
import UltraMinimalDashboard from '../components/nanopore/ultra-minimal-dashboard'
---

<Layout title="Nanopore Tracking">
  <main>
    <UltraMinimalDashboard client:load />
  </main>
</Layout>
