---
import Layout from '../layouts/layout.astro'
import ProjectManagement from '../components/nanopore/project-management'
---

<Layout title="Projects - Nanopore Tracking">
  <main>
    <ProjectManagement client:load />
  </main>
</Layout>