---
import Layout from '../layouts/layout.astro'
import SubmissionWithHierarchy from '../components/nanopore/submission-with-hierarchy'
---

<Layout title="Create Submission - Nanopore Tracking">
  <main>
    <SubmissionWithHierarchy client:load />
  </main>
</Layout> 